version: "3.9"

services:
  # plex:
  #   image: lscr.io/linuxserver/plex:latest
  #   container_name: plex
  #   network_mode: host
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC
  #     - VERSION=docker
  #   volumes:
  #     - ./config/plex:/config
  #     - ./media/tv:/media/tv
  #     - ./media/movies:/media/movies
  #     - ./media/anime:/media/anime
  #     - ./downloads:/media/downloads
  #   restart: unless-stopped

  # radarr:
  #   image: lscr.io/linuxserver/radarr
  #   container_name: radarr
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/Amsterdam
  #   volumes:
  #     - ./config/radarr:/config
  #     - ./downloads:/media/downloads
  #     - ./media/movies:/media/movies
  #   networks:
  #     - arrstack
  #   ports:
  #     - 7878:7878
  #   restart: unless-stopped

  # sonarr:
  #   image: lscr.io/linuxserver/sonarr
  #   container_name: sonarr
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/Amsterdam
  #   volumes:
  #     - ./config/sonarr:/config
  #     - ./downloads:/media/downloads
  #     - ./media/tv:/media/tv
  #     - ./media/anime:/media/anime
  #   networks:
  #     - arrstack
  #   ports:
  #     - 8989:8989
  #   restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - ./config/jackett:/config
    networks:
      - arrstack
    ports:
      - 9117:9117
    restart: unless-stopped

  # overseerr:
  #   image: sctx/overseerr:latest
  #   container_name: overseerr
  #   environment:
  #     - LOG_LEVEL=debug
  #     - TZ=Europe/Amsterdam
  #   ports:
  #     - 5055:5055
  #   volumes:
  #     - ./config/overseerr:/app/config
  #   networks:
  #     - arrstack
  #   restart: unless-stopped

  deluge:
    image: lscr.io/linuxserver/deluge
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - ./config/deluge:/config
      - ./downloads:/media/downloads
      - ./media/tv:/media/tv
      - ./media/movies:/media/movies
    networks:
      - arrstack
    ports:
      - 8112:8112 # Web UI
      - 58846:58846 # Daemon port
      - 58946:58946 # Incoming peer connections
      - 58946:58946/udp
    restart: unless-stopped

  mangashelf:
    build: .
    container_name: mangashelf
    environment:
      - TZ=Europe/Amsterdam
      - MANGA_DIR=/manga
      - DATABASE_URL=/data/mangashelf.db
      - JACKETT_URL=http://jackett:9117
      - JACKETT_API_KEY=${JACKETT_API_KEY}
      - DELUGE_URL=http://deluge:8112
      - DELUGE_PASSWORD=${DELUGE_PASSWORD:-deluge}
      - DELUGE_DOWNLOAD_DIR=/downloads
      - IMPORT_INTERVAL=30
      - DOWNLOAD_CHECK_INTERVAL=30
      - MONITOR_INTERVAL=3600
      - AUTO_DOWNLOAD=true
    volumes:
      - ./media/manga:/manga
      - mangashelf-data:/data
      - ./downloads:/downloads:ro
    networks:
      - arrstack
    ports:
      - 3000:3000
    restart: unless-stopped

networks:
  arrstack:
    driver: bridge

volumes:
  mangashelf-data:
